.hide-scrollbar { -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.emoji-text {
  font-family: "Noto Color Emoji", sans-serif;
}



  html, body {
    transform: none;
    zoom: 1 ;
  }
  
  * {
    box-sizing: border-box;
  }

  .heading{
    color: rgba(0, 0, 0, 0.466);
    font-size: 30px;
    font-weight: bold;
    font-family:'playfair';
    margin-top: 2rem;
    text-align: left;
}



.input {
    height: 40px; 
    width: 350px;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(10px);
    border: 1px solid  white;
    /*  */
    border-radius: .5rem;
    padding-left: 1rem;
   
}


@media (min-width: 1024px ) {
  
        .input{
            margin-top: .5rem;
            height: 4.5vh;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.233);
            backdrop-filter: blur(10px);
            border: 1px solid  white;       
            border-radius: .5rem;
            padding-left: 1rem;
            outline: none;
        }
}




.input::placeholder {
    color: black;
    font-size: large;
    font-weight: 500;
    font-family: 'playfair';
    
}

.slick-dots-custom {
    position: absolute;
    bottom: -30px; /* Adjust this value to control the space between dots and the slider */
    left: 50%;
    transform: translateX(-50%);
    display: flex !important; /* Ensures dots are displayed flexibly */
    justify-content: center;
    gap: 10px; /* Space between dots */
  }

  .slick-dots-custom li button:before {
    font-size: 12px;
    color: gray;
  }

  .slick-dots-custom li.slick-active button:before {
    color: #f9c22e; /* Highlighted dot color */
  }

  .perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .transition-transform {
    transition: transform 0.7s;
  }

  #FeedInput::placeholder {
    color: #461220;
    opacity: 1;
    font-family: Playfair;
  }
