.heading{
    color: rgba(0, 0, 0, 0.466);
    font-size: 30px;
    font-weight: bold;
    font-family:'playfair';
    margin-top: 2rem;

}



.input {
    height: 40px; 
    width: 350px;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(10px);
    border: 1px solid  white;
    box-shadow: 1px 1px 5px grey  ;
    border-radius: .5rem;
    padding-left: 1rem;
   
}


@media (min-width: 1024px ) {
  
        .input{
            margin-top: .5rem;
            height: 4.5vh;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.233);
            backdrop-filter: blur(10px);
            border: 1px solid  white;
            box-shadow: 1px 1px 5px grey  ;
            border-radius: .5rem;
            padding-left: 1rem;
        }
}




.input::placeholder {
    color: black;
    font-size: large;
    font-weight: 500;
    font-family: 'playfair';
    
}


